.fullscreen {
    position: absolute;
    width:100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}


.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 40vh auto;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
	
